$mainColor: #1e293b;
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@600&display=swap');
body{
    background-color: black;
}



.header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: space-around;
    background-color: black;
   .bg-light
   {
    margin-bottom: 15px;
   }
    .block {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }


    .item{
        font-family: 'Noto Serif JP', serif;
        margin-bottom: 20px;
        font-size: 16pt;
    }


    .phone {
        margin-left: 50px;
        margin-right: -150px;
        i{
            font-size: 20pt;
        }
    }

    .btnArea {
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mainColor;
        margin-bottom: 20px;
        font-size: 14pt;
        color: white;
        border-radius: 5px;
        margin-left: 30px;

        a {
            color: white;
            text-decoration: none;
        }

        span {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}
.dis1{
    margin-top: 5%;

    h1{
        color: white;
        margin-left: 45%;
        margin-bottom: 2%;
    }
    
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: 0.8s;
    margin-left: 40%;

    i {
        font-size: 16pt;
        color: $mainColor;
        position: absolute;
        left: 10px;
    }

    label {
        font-size: 14pt;
        margin-bottom: 5px;
        color: white;
    }

    input {
        box-sizing: border-box;
        width: 300px;
        height: 40px;
        padding-left: 35px;
        font-size: 16pt;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 0;
        // 標籤陰影
        box-shadow: 0px 2px 5px #1e3a8a;
    }

    button {
        margin: 0 auto;
        margin-top: 30px;
        width: 150px;
        height: 50px;
        font-size: 24pt;
        background-color: $mainColor;
        border: 0;
        border-radius: 5px;
        a {
            text-decoration: none;
            color: white;
        }


        
    }
    .btnsubmit{
        margin-right: 75%;
    }
    .fa-envelope {
        top: 45px;
    }

    .fa-user {
        top: 125px;
    }

    .lock1 {
        top: 210px;
    }

    .lock2 {
        top: 290px;
    }
}
}

